<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Articles" %}</title>
</head>
<body>
    <h1>{% trans "List of Articles" %}</h1>
    <div>
        <a href="{% url 'change_language' 'en' %}">English</a> |
        <a href="{% url 'change_language' 'fr' %}">Français</a>
    </div>
    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
                <small>{% trans "Published on" %} {{ article.publication_date }}</small>
            </li>
        {% endfor %}
    </ul>
</body>
</html>


